html {
	height: 100%;
}

body {
	margin: 0;
	padding-top: 1em;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #f0f0e8;
	height: 100%;
	background: #0a0e14
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	height: 6px;
	width: 100vw;
	background-image: linear-gradient(to right, #29a2ff 25%, #9dff00 50%, #ff7420 75%);
}

 h2, h3, h4, h5, h6 {
	margin: 0 auto 0.5em auto;
	font-weight: 400;
	line-height: 1.2;
	width: fit-content;
}

h1 {
	font-size: 3em;
	margin: 0.1em auto 0.8em auto;
	font-weight: bold;
	line-height: 1.2;
	width: fit-content;
}

a {
	color: #39bae6;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.date {
	/* color: #C2d94c; */
	font-style: italic;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}