---
title: What I Learned 
slug: todd
date: 2020/08/20
---


# Great success!

![Borat](great-success.png)

this is america
**Try editing this file (src/routes/index.svelte) to test live reloading.**


```ts
function hello () {
	console.log('this is america')
	return `hey ${hey}` ? hey : hey
}
```


