* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
  height: 100%;
  font-size: 17px;
}

body {
	margin: 0;
	padding-top: 1.2ex;
	font-family: Roboto, -apple-systrem, BlinkMacSystremFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.4;
	color: #f1f3ec;
	height: calc(100% - 6px - 1rem);
	background: #0a0e14
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	height: 1.2ex;
	width: 100%;
  background-image: linear-gradient(to right, #29a2ff 25%, #9dff00 50%, #ff7420 75%);
  font-weight: 400;
}


h2 {
  font-weight: 600;
  font-size: 1.33rem;
  margin: 1.5rem 0 1rem 0  ;
  color: #daff44;
}

h2::before {
  content:"## "
}


h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.3rem 0 .9rem 0;
  color:   #39bae6;
}

h3::before {
  content: "### "

}

#post  li {
  margin-left: 1rem;
  font-size: 1rem;
	list-style-type: none;	
}

#post li::before {
  content: '* ';
  color: #ff7420;
  font-weight: bold;
}



p {
  font-size: 1rem;
  text-indent: 4ch;
  margin-bottom: 1rem;
  line-height: 1.6rem;
}


h1 {
	font-size: 2.3rem;
	margin: 0.1rem auto 1.5rem auto;
	font-weight: bold;
	line-height: 1.2;
	width: fit-content;
}

a {
	color: #39bae6;
}

code {
	font-size: calc(1rem - 2px);
	padding: 0.2rem 0.4rem;
	border-radius: 2px;
	filter: saturate(2.9) brightness(1.2);
}


pre {
    background-color: hsl(216deg 22% 9%);
    padding: 20px;
    border-radius: 10px;
}


.date { 
	/* color: #C2d94c; */
	font-style: italic;
}

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}



/////////////////////////////





code[class*="language-"],
pre[class*="language-"] {

  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}



@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 0.5rem 0;
  overflow: auto;
}


:not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;
}


.token.comment {
  color: #626A73;
  font-style: italic
}

.token.string {
  color: #C2D94C;
  
}

.token.symbol {
  color: #C2D94C;
  
}

.token.char {
  color: #95E6CB;
  
}

.token.constant {
  color: #95E6CB;
  
}

.token.number {
  color: #E6B450;
  
}

.token.builtin {
  color: #E6B450;
  
}

.token.variable {
  color: #B3B1AD;
  
}

.token.operator {
  color: #F29668;
  
}

.token.punctuation {
  color: #0889b6;
  
}

.token.function {
  color: #FFB454;
  
}

.token.attr-name {
  color: #FFB454;
  
}

.token.tag {
  color: #39BAE6;
  
}

.token.property {
  color: #39BAE6;
  
}

.token.inserted {
  color: #91B362;
  
}

.token.changed {
  color: #6994BF;
  
}

.token.deleted {
  color: #D96C75;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.keyword {
	color: #F29668
}